/* RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* # RESET */

body{ background:rgb(238,238,238); }

  .layout .topo{ text-align:center; }

    a{ color:rgb(42,100,150); }

    .layout .topo a{
      font:50px "Offside", serif;
      text-transform:uppercase;
      text-decoration:none;
      color:rgb(100,100,100);
      line-height:100px;
      -webkit-transition: color 0.3s linear;
      transition: color 0.3s linear;
    }

    .layout .topo a:hover{ color:rgb(0,0,0); }

  .layout .conteudo{
    width:960px;
    margin:0 auto;
  }

    .layout .conteudo .lista-posts .lista ul li{
      padding:10px;
      margin: 0 0 10px;
      border-radius:5px;
      -webkit-transition: background 0.2s linear;
      transition: background 0.2s linear;
    }

    .layout .conteudo .lista-posts .lista ul li:hover{ background:rgb(255,255,255); }

      .layout .conteudo .lista-posts .lista ul li a{
        font-family:"Offside", serif;
        text-decoration:none;
      }

        .layout .conteudo .lista-posts .lista ul li a .data{
          font-size:14px;
          font-weight:bold;
          color:rgb(42,100,150);
          text-transform:uppercase;
        }

        .layout .conteudo .lista-posts .lista ul li a .titulo{
          font-size:20px;
          color:rgb(21,21,21);
        }

  /* RODAPÉ */
  .layout .rodape{
    font-family:"Offside", serif;
    text-align:center;
    margin:50px 0 50px;
  }

    .layout .rodape .copyright{ margin:0 0 20px 0; }

      .layout .rodape .copyright p{
        font-size:16px;
        color:rgb(21,21,21);
      }

        .layout .rodape .copyright p a{ text-decoration:none; }

        .layout .rodape .contatos p a{
          font-size:16px;
          line-height:20px;
          text-decoration:none;
        }
  /* # RODAPÉ */

  /* POST */
  .layout .post{
    width:960px;
    margin:0 auto;
    background:rgb(238,238,238);
    padding:10px;
  }

    .layout .post .cabecalho-post{
      font-family:"Offside", sans-serif;
      line-height: 35px;
      margin-bottom:30px;
    }

      .layout .post .cabecalho-post .titulo h3{
        font-size:30px;
        color:rgb(42,100,150);
      }

    .layout .post .texto{
      font:22px "Droid Sans", sans-serif;
      color:rgb(38,38,38);
    }

      .layout .post .texto ol,
      .layout .post .texto ul{ margin:0 0 40px 0; }
      .layout .post .texto ol li{ list-style-type:decimal; }
      .layout .post .texto ul li{ list-style-type:disc; }

      .layout .post .texto p{ margin:0 0 25px; }

        .layout .post .texto p b,
        .layout .post .texto p strong{ font-weight:bold; }
        .layout .post .texto p em{ font-style:italic; }
        .layout .post .texto p a{ text-decoration:none; }
        .layout .post .texto p a:hover{ color:rgb(0,0,0); }

        .layout .post .texto p code,
        .layout .post .texto ul li code,
        .layout .post .texto .highlight{
          font:18px monospace !important;
          color:rgb(0,0,0) !important;
          background:rgb(255,255,255);
          border-radius:5px;
        }

        .layout .post .texto p code,
        .layout .post .texto ul li code{ padding:3px; }

        .layout .post .texto .highlight{
          padding:10px;
          margin: 0 0 20px
        }
  /* # POST */