<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="development, developer, javascript, coffeescript, maua, arte, php, python, marcker, marcos garcia, programming, programmer, marckfree, imarcker">
    <meta name="description" content="Ultracode Blog por Marcker (developer)">
    <meta name="author" content="Marcker <marckfree@gmail.com>">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>

    <div class="site">
      <div class="header">
        <h1 class="title">
          <a href="/">{{ site.name }}</a>
        </h1>
        <a class="extra" href="/">home</a>
      </div>

      {{ content }}

      <div class="footer">
        <div class="contact">
          <p>
            Marcos Garcia<br />
            Developer<br />
            marckfree@gmail.com
          </p>
        </div>
        <div class="contact">
          <p>
            <a href="https://github.com/marcker">github.com/marcker</a><br />
            <a href="https://twitter.com/marcker">twitter.com/marcker</a><br />
          </p>
        </div>
      </div>
    </div>

    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-47505214-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol
          ? 'https://ssl' 
          : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </body>
</html>